html{
    background-image: url(Images/bodyimg6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 100%;
}
body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    color: aliceblue;
}
header{
    background-image: url(Images/header6.jpg); height: 3em; width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em 1em;
}
.heading{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    font-family: 'Nunito Sans', sans-serif;
}
.socials{
    justify-content: space-between;
    width: 5em;
    font-size: 1.5em;
    color: wheat;

}
img{
    border-radius: 50%;
}
a, .link{
    text-decoration: none;
    color: black;
    color: rgba(128, 128, 128, 0.779);
    font-size: 1.2em;
}
a, .link:hover{
    color: aliceblue;
}
.projects{
    display: block;
    margin-top: 3%;
    justify-content: space-between;
}
.firstrow{
    display: flex;
}
p{
    text-align: justify;
    font-family: 'Nunito Sans', sans-serif;
    color: whitesmoke;
}
.pracimg{
    width: 15em;
    height: 10em;
    position: relative; left: 2em;
}
.pracpar{
    width: 20em;
}
.projimg{
    width: 15em;
    height: 10em;
    position: relative; left: 2em;
}
.projpar{
    width: 20em;
}
.hudimg{
    width: 15em;
    height: 10em;
    position: relative; left: 2em;
}
.pracport{
    position: relative; left: 2em;
    border: 2px solid paleturquoise;
    padding: 3px;
    box-shadow: 1px 2px 3px 2px paleturquoise;
}
.pracproj{
    position: relative; left: 8em;
    border: 2px solid paleturquoise;
    padding: 3px;
    box-shadow: 1px 2px 3px 2px paleturquoise;
}
.huddle{
    position: relative; left: 14em;
    border: 2px solid paleturquoise;
    padding: 3px;
    box-shadow: 1px 2px 3px 2px paleturquoise;
}
.hudpar{
    width: 20em;
}
button{
    height: 3em;
    border-radius: 10px;
    border: none;
    background-color:hsl(208,34%,27%);
}
a, .butn{
    color: aliceblue;
    font-family: 'Nunito Sans', sans-serif;
}
button:hover{
    box-shadow: 0.5px 1px 0px 3px grey;
}
.butn1{
    width: 100%;
    margin-top: 5%;
}
.butn2{
    margin-top: 22%;
    width: 100%;
}
.butn3{
    margin-top: 11%;
    width: 100%;
}
.secondrow{
    display: flex;
    margin-top: 7em;
}
.grid{
position: relative; left: 2em;
border: 2px solid paleturquoise;
    padding: 3px;
    box-shadow: 1px 2px 3px 2px paleturquoise;
}
.chess{
position: relative; left: 8em;
border: 2px solid paleturquoise;
    padding: 3px;
    box-shadow: 1px 2px 3px 2px paleturquoise;

}
.rosa{
position: relative; left: 18%;
border: 2px solid paleturquoise;
    padding: 3px;
    box-shadow: 1px 2px 3px 2px paleturquoise;
}
.gridimg{
    width: 15em;
    height: 10em;
    position: relative; left: 2em;
}
.gridpar{
    width: 20em;
}
.chessimg{
    width: 15em;
    height: 10em;
    position: relative; left: 2em;
}
.chesspar{
    width: 20em;
}
.rosaimg{
    width: 15em;
    height: 10em;
    position: relative; left: 2em;
}
.rosapar{
    width: 20em;
}
.butn4{
    margin-top: 38%;
    width: 100%;

}
.butn5{
    margin-top: 44%;
    width: 100%;
}
.butn6{
    width: 100%;
    margin-top: 14.5%;
}
.thirdrow{
    display: flex;
    margin-top: 7em;
}
.tip{
position: relative; left: 2em;
border: 2px solid paleturquoise;
    padding: 3px;
    box-shadow: 1px 2px 3px 2px paleturquoise;
}
.djangoapp{
position: relative; left: 8em;
border: 2px solid paleturquoise;
    padding: 3px;
    box-shadow: 1px 2px 3px 2px paleturquoise;

}
.tipimg{
    width: 15em;
    height: 10em;
    position: relative; left: 2em;
}
.tippar{
    width: 20em;
}
.appimg{
    width: 15em;
    height: 10em;
    position: relative; left: 2em;
}
.apppar{
    width: 20em;
}
.butn7{
    width: 100%;
    margin-top: 16.5%;
}
.butn8{
    width: 100%;
    margin-top: -1%;
}