html{
    background-image: url(Images/bodyimg6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 100%;
}
body{
        margin: 0 auto;
    width: 100%;
    padding: 0;
    overflow-x: hidden;
    color: aliceblue;
}
header{
    background-image: url(Images/header6.jpg); height: 3em; width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em 1em;
}
.heading{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
}
h1{
    -webkit-text-stroke: 1px aliceblue;
    color: transparent;
    font-size: 50px;
    position: relative; right: 5.5em;
    font-family: 'Nunito Sans', sans-serif;
}
h3{
    font-family: 'Nunito Sans', sans-serif;
    color: rgba(255, 0, 0, 0.495);
}
h1::before{
    content: attr(data-text);
    -webkit-text-stroke: 0px #383d52;
    border-right: 2px solid green;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate{
    0%{
        width: 0;
    }
    90%{
        width: 100%s;
    }
}
.socials{
    justify-content: space-between;
    width: 5em;
    font-size: 1.5em;
    color: wheat;
}
a, .link{
    text-decoration: none;
    color: black;
    color: rgba(128, 128, 128, 0.779);
    font-size: 1.2em;
}
a, .link:hover{
    color: aliceblue;
}
.bod{
    display: block;
    justify-content: center;
    margin-top: 10%;
    font-family: 'Nunito Sans', sans-serif;
}
.attributes{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 10%;
    font-family: 'Nunito Sans', sans-serif;
}
.tag{
    display: flex;
}
img{
    border-radius: 70%;
    width: 20em;
    height: 17em;
}
.img{
    position: relative; left: 25%; top: 1%;
    opacity: 0.5;
    border-radius: 50%;
}
.introduction1{
    width: 100%;
    display: flex;
}
.intro{
    position: relative; left: 25%;
}
p{
    width: 20em;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    color: palevioletred;
}
.introduction{
    display: block;
}
button{
    height: 4em;
    width: 12em;
    margin-top: 5%;
    border-radius: 10px;
    border: none;
    background-color:hsl(208,34%,27%); 
}
a, .butn{
    color: aliceblue;
    font-family: 'Nunito Sans', sans-serif;
}
button:hover{
    box-shadow: 0.5px 1px 0px 3px grey;
}
#code{
    font-size: 5em;
    display: flex;
}
.fonts{
    display: flex;
    position: relative; left: 30%; top: 5em;
}
.fa-js{
    color: red;
    transform: rotate(45deg);
}
.fa-python{
    color: yellow;
    position: relative; left: 1em;
    transform: rotate(45deg);
}
.fa-css3-alt{
    color: blue;
    position: relative; left: 2em;
    transform: rotate(30deg);
}
.fa-react{
    color: purple;
    position: relative; left: 4em;
    transform: rotate(45deg);
}
.fa-code{
    position: relative; left: 3em;
    transform: rotate(35deg);
}